@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Navbar Home*/

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: bisque
}

.opacity {
    display: flex;
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    height: 750px;
    width: 100%;
    background-image: url("https://pbs.twimg.com/media/FGbS4AzXMAQpTjj?format=jpg&name=4096x4096");
    background-repeat: no-repeat;
    background-size: cover;
    flex-flow: column;
}

#navegacion ul {
    display: flex;
    list-style-type: none;
    margin: auto 60px auto auto;
    flex-flow: row;
}

#navegacion a {
    color: white;
    text-decoration: none;
    margin: 30px;
    padding: 10px;
}

#navegacion {
    display: flex;
    width: 100%;
    height: 120px;
}

#titulo {
    margin-top: auto;
    display: flex;
    width: 100%;
    height: 50%;
}

.titulo-imagen {
    height: 100%;
    display: flex;
    width: 50%;
}

#titulo img {
    margin: auto 0 auto auto;
    height: 200px;
}

.titulo-texto {
    margin: auto auto auto 0;
    height: 100%;
    width: 50%;
    display: flex;
    flex-flow: column;
}

.titulo-subtitulo {
    margin: auto auto auto 0;
}

.titulo-texto h1,
.titulo-texto h2,
.titulo-texto button {
    margin: 10px;
    color: #fff;
}

.titulo-texto h1 {
    font-size: 40px;
}

.titulo-texto h2 {
    font-size: 20px;
}

.titulo-texto button {
    margin: 5px;
    padding: 20px;
    border-radius: 50px;
    background: none;
    border: 1 solid #fff;
}

.patrocinadores {
    background-color: #050d5b;
    content: "";
    display:grid;
    clear: both;
    color: aliceblue;
    text-align: center;
    /*
    margin-top: 500px;
    */
}

.patrocinador {
    display: inline-block;
    padding: 40px;
}

.patrocinador img {
    width: 80px;
}

/* Seccion Contacto */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formulario {
    width: 400px;
    background: #11115b;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Calibri';
    color: white;
    box-shadow: 7px 13px 37px #1b1b3c;
    margin-bottom: 200px;
}

.formulario h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.gap {
    width: 100%;
    background: #11115b;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-family: 'Calibri';
    font-size: 18px;
    color: aliceblue;

}

.mensaje {
    width: 100%;
    background: #11115b;
    text-align: left;
    border-radius: 4px;
    margin-bottom: 16px;
    font-family: 'Calibri';
    font-size: 18px;
    color: aliceblue;
    padding: 10px;
    height: 100px;
}

.formulario .boton{
    width: 100%;
    background: bisque;
    border: none;
    padding: 16px;
    color: black;
    margin: 18px 0px;
    font-size: 16px;

}

/* FOOTER */

footer{
    position: relative;
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #050d5b;
    color: #fff;
}

.copyright-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright {
    font-size: 15px;
    opacity: 0.7;
    font-weight: 400;
    padding: 10px 0;
}

.footer-menus{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
}

.footer-container{
    height: fit-content;
    width: 100%;
    padding: 3rem 6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-content-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 40px;
}

footer .website-logo{
    margin-bottom: 1.2rem;
    font-size: calc(1vw + 20px);
}

.footer-info, .menu-item-footer{
    margin: 0.2rem 0;
    opacity: 0.7;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.menu-item-footer:hover{
    opacity: 1;
}

.menu-title{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

.contenedor{
    margin: auto;
    width: 100%;
    overflow: hidden;
}
.boton{
    background-color: bisque  ;
    height: 20px;
    border: 0;
    padding: 0px 40px;
    height: 20px;
}

#newsletter h3,
#newsletter form{
    float: none;
    text-align: center;
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
}
#newsletter input{
    width: 100%;
}
.boton{
    width: 100%;
    display: block;
}

.social-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
}

.social-link{
    height: 100%;
    width: 50px;
    background-image: url(img/logo_facebook.png);
    background-size: 70%;
    background-position: center;
    margin-right: 1rem;
    background-repeat: no-repeat;
}

.social-link:hover{
    opacity: 0.7;
}

footer .social-link:nth-of-type(2){
    background-image: url(img/logo_twitter.png);
}

footer .social-link:nth-of-type(3){
    background-image: url(img/logo_instagram.png);
}