body{
    max-width: 602px;
    width: 602px;
    margin-top: auto;
    background-color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #0A075F;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    position: relative;
}

/* Definimos los estilos de la portada*/

#portada{
    width: 100%;
    display: flex;
    height: 300px;
    background-image: url(media/portada.jpg);
    background-color: red;
}

#portada img{
    width: 300px;
    margin: auto;
}

#seccion-principal{
    background-color: bisque;
}

#proximos-eventos{

}

#subtitulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#subtitulo-linea-1{
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-size: 1.6rem;
    color: #242565;
}

#subtitulo-linea-2{
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    margin-top: -18px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #0A075F;
}


#contenidos{
    width: 90%;
    padding: 0 5% 5% 5%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#contenidos div{
    
}


#entradas{
    width: 45%;
    height: 250px;
    margin-right: 5%;
    display: flex;
    align-items: top;
    flex-direction: column;
    justify-content: center;
    border-radius: 3%;
    box-shadow: grey 0 0.5px 4px 0.5px;
}

#faq{
    width: 45%;
    height: 250px;
    margin-left: 5%;
    display: flex;
    align-items: top;
    flex-direction: column;
    justify-content: center;
    border-radius: 3%;
    box-shadow: grey 0 0.5px 4px 0.5px;
}

#biografia{
    width: 45%;
    height: 250px;
    margin-left: 5%;
    display: flex;
    align-items: top;
    flex-direction: column;
    justify-content: center;
    border-radius: 3%;
    box-shadow: grey 0 0.5px 4px 0.5px;
}

#informacion{
    width: 45%;
    height: 250px;
    margin-right: 5%;
    display: flex;
    align-items: top;
    flex-direction: column;
    justify-content: center;
    border-radius: 3%;
    box-shadow: grey 0 0.5px 4px 0.5px;
 
}

#imagen-informacion{
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    width: 100%;
    height: 60%;
}

#descripcion-imagen{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    width: 100%;
    height: 40%;
 
}

#descripcion-texto-linea-1{
    text-align: center; 
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
}

#descripcion-texto-linea-2{
    text-align: center; 
    margin-top: -10px;
    font-size: 0.9rem;
    font-family: 'Nunito', sans-serif;
    font-size: small;
}

